<div class="row">
    <div class="col-md-3">
      <h3><%= @place.name %></h3>
      <p>
        <strong>Address:</strong>
        <%= @place.address %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @place.phone %>
      </p>

      <p>
        <strong>Website:</strong>
        <%= link_to "Website link" , @place.website %>
      </p>
      
       <p>
        <strong>Description:</strong>
        <%=  @place.description %>
      </p>

       <div id="map" style="width: 230px; height: 230px;"></div>
 
   </div>
   <div class="col-md-6">
    <h3>Reviews by People</h3>
    <% if current_user %>
      <h5>New Review </h5>
      <%= render 'reviews/form' %>
    <% end %>
    <h5>All Reviews</h5>
      <%= render @reviews %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    
    var lat = <%= @place.latitude %>
    var lng = <%= @place.longitude %>
    var loc = '<%= @place.name %>'
    var map = new L.Map("map", {center: [lat,lng], zoom: 13})
      .addLayer(new L.TileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"));
    var marker = L.marker([lat,lng]).addTo(map);
    marker.bindPopup(loc).openPopup();
  });

</script>


