<!DOCTYPE html>
<html>
<head>
  <title>FamousPlacesFromStuk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</head>
<body>
<%= render 'layouts/header' %>
<% flash.each do |type,message| %>
	<div class="alert alert-info fade-in">
		<button class="close" data-dismiss="alert">x</button>
		<%= message %>
	</div>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
